<body>
  <header
    class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow"
  >
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3"
      >RecapProject Araç Kiralama</a
    >
    <button
      class="navbar-toggler position-absolute d-md-none collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#sidebarMenu"
      aria-controls="sidebarMenu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="#">Çıkış Yap</a>
      </li>
    </ul>
  </header>

  <div class="container-fluid">
    <div class="row">
      <nav
        id="sidebarMenu"
        class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
      >
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/cars">
                <span data-feather="home"></span>
               Araç Kiralama Sistemi
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/cars/brand-register">
                <span data-feather="file"></span>
                Marka Ekle
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/cars/color-register">
                <span data-feather="shopping-cart"></span>
                Renk Ekle
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/cars/cars-register">
                <span data-feather="users"></span>
                Araç Ekle
              </a>
            </li>
           
          </ul>

          <app-color></app-color>
         
      
        </div>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</body>
