<div class="row mb-2">
  <div class="col col-8S">
    <select
      [(ngModel)]="brandFilter"
      class="form-select"
      aria-label="Default select example"
    >
      <option
        *ngFor="let brand of brands"
        [ngValue]="brand.id"
        selected="{{ getSelectedBrand(brand.id) }}"
      >
        {{ brand.brandName }}
      </option>
    </select>
  </div>
  <!-- <div class="col col-4">
    <select
      [(ngModel)]="colorFilter"
      class="form-select"
      aria-label="Default select example"
    >
      <option
        *ngFor="let color of colors"
        [ngValue]="color.id"
        selected="{{ getSelectedColor(color.id) }}"
      >
        {{ color.colorName }}
      </option>
    </select>
  </div> -->
  <div class="col col-1">
    <a
      routerLink="/cars/filter/{{ brandFilter }}"
      class="btn btn-success"
      >Filtrele</a
    >
  </div>
  <div class="col col-1">
    <a routerLink="/cars" class="btn btn-danger">Temizle</a>
  </div>
</div>
